/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.canvas {
  height: 90%;
  width: 90%;
  margin: auto;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

nav {
  padding: 10px;
  background: #3B8DBC;
  height: 10%;
  width: 100%;
  div {
    display: flex;
    align-items: baseline;
    width: 400px;
    img {
    height: 50px;
    width: 50px;
    border: solid black 7px;
    border-radius: 50%;
    }
  }
}

main {
  height: 90%;
  width: 100%;
  background: #ECF0F5;
}

.container{
  width: 90%;
  margin: 0 auto;
}

img {
  width: 60px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  height: 60px;
  width: 100px;
}

li {
  img {
    margin-left: 20px;
  }
}

ul.tabs li.current{
  background: white;
  color: #222;
}

.tab-content{
  display: none;
  background: white;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.date {
  width: 40%;
  margin: 10px 0 10px 33%;
}

.order__by__date {
  background: #ECF0F4;
  margin: 10px 0 10px 0;
}


button,
.submit__rooms__date,
.user__search__btn, 
.date {
  height: 30px;
  background: #3B8DBC;
  border: none;
  border-radius: 3px;
}

input {
  -webkit-appearance:textfield;
  height: 30px;
}

.select__room__type {
  height: 30px;
  width: 24%;
}

.personal {
  margin-top: 10px;
}

.room__booked {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width:600px) {

h1 {
  font-size: 40px;
}

nav {
  div {
    margin: 10px;
    img {
      height: 30px;
      width: 30px;
      border: solid black 5px;
    }
  }
}

img {
  width: 40px;
}

ul.tabs li {
  height: 40px;
  width: 40px;
}

li img {
  margin-left: 0px;
}

.room__not__booked {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  -webkit-appearance:textfield;
  width: 100%;
}

h3 {
  width: 100%;
}

.select__room__type {
  margin: 10px 5px 10px 5px;
  width: 100px;
}

.room__option {
  width: 100%;
}

}

.hidden {
  display: none;
}